:root {
    --primary-color: #3C55A5;
    --secondary-color: #3C5CFF;
    --text-color: #4D5F83;
    --icon-color: #B3BFDB;
    --border-color: #E4E7F1;
    --background1-color: #F2F6FF;
    --background2-color: #F8F8F8;
}

::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-thumb  {
    width: 4px;
    background: var(--icon-color);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    width: 4px;
    background: var(--border-color);
    border-radius: 8px;
}

body{
    width: 100vw;
    height: 100vh;
}

.d-none {
    display: none;
}

#navbar {
    height: 80px;
    width: 100vw;
    display: flex;
    
}
.left-area, .right-area{ 
    display: flex;
    align-items: center;
}

.right-area {
    position: absolute;
    right: 0;
    height: 80px;
    margin-right: 2rem;
}

#logo {
    width: 80px;
    height: 80px;
    /*background-color: var(--primary-color);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainTitle {
    color: var(--text-color);
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 46px;
    margin-right: .5rem;
}

#subTitle {
    color: var(--text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
}

.right-area > div > span {
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
}

:is(#admin) > span {
    background: url('../../../img/icon/userCheck/inactive.png');
}

:is(#admin) > span:hover {
    background: url('../../../img/icon/userCheck/active.png');
}

:is(#logout, #login) > span {
    background: url('../../../img/icon/logout/inactive.png');
}

:is(#logout, #login) > span:hover {
    background: url('../../../img/icon/logout/active.png');
}

#wrapper {
    display: flex;
    background: var(--background2-color);
    height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
}

#menuContainer {
    position: absolute;
    background-color: var(--background2-color);
    padding-top: 1rem;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s linear;
    z-index: 99;
}

#menuContainer.collapsed {
    transform: translateX(-100%);
}

#categoryList {
    width: 94%;
    height: 85vh;
    overflow-y: auto;
    flex-direction: column;
}

.category-item {
    display: inline-block;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid var(--icon-color);
}

.map-list {
    height: 0;
    overflow: hidden;
    background: #FFFFFF;
    border-bottom: none;
    transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    color: var(--text-color);
    font-size: 16px;
}

.category-item.on .map-list {
    display: block;
    min-height: 60px;
    max-height: 290px;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    overflow-y: auto;
    height: auto;
    margin-left: -1px;
    border-top: 1px solid var(--icon-color);
    border-left: 1px solid var(--icon-color);
}

.map-item {
    height: 58px;
    background-color: var(--background1-color);
    border-bottom: 1px solid #C3CCE9;
    display: flex;
    align-items: center;
    padding-left: 18px;
    gap: 11px;
}

.map-item.on {
    color: var(--secondary-color);
    font-weight: bold;
}

.map-item > SPAN:first-of-type {
    background: url('../../../img/icon/mapPin/inactive.png');
    display: inline-block;
    width: 24px;
    height: 24px;
}

.map-item.on > SPAN:first-of-type {
    background: url('../../../img/icon/mapPin/active.png')
}

.category-item > span {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color);
    padding: 17px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-item > span > .icon {
    background: url('../../../img/icon/category/inactive.png');
    display: inline-block;
    width: 24px;
    height: 24px;
}

.category-item.on > span > .icon {
    background: url('../../../img/icon/category/active.png')
}

#mapContainer {
    width: 100vw;
    display: flex;
    align-items: center;
}

#map {
    box-shadow: 1px 2px 6px rgb(0 0 0 / 16%)
}

.searchArea {
    z-index: 999;
    position: absolute;
    top: 112px;
    right: 32px;
    box-shadow: 1px 2px 6px rgb(0 0 0 / 16%);
    width: 324px;
    height: 58px;
}

#search {
    display: flex;
    height: 100%;
}

#search > Button {
    background-color: var(--primary-color);
    width: 58px;
    border: none;
    outline: none;
}

#search > Button > span {
    background: url('../../../img/icon/map/search.png');
    display: inline-block;
    width: 20px;
    height: 20px;
}

#search > Input {
    background: #FFFFFF;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    width: 266px;
    font-size: 16px;
    padding: 16px;
    color: var(--text-color);
}

#search > Input::placeholder {
    color: var(--icon-color);
}

#search > Input:focus {
    background-color: var(--background1-color);
    color: var(--text-color);
}

#searchList {
    z-index: 999;
    width: 265px;
    box-shadow: 1px 2px 6px rgb(0 0 0 / 16%);
    max-height: 232px;
    overflow-y: auto;
    position: relative;
    left: 59px;
}

#searchList > div {
    background-color: #FFFFFF;
    height: 58px;
    display: flex;
    align-items: center;
    padding: 16px;
    color: var(--text-color);
    font-weight: 400;
}

#searchList > div:hover {
    background-color: var(--background2-color);
}

#footer {
    height: 40px;
    background: #3C55A5;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

#footerMapNm {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding-left: 1rem;
}

.footer-data {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.poi_box, .area_box,
.content-box {
    position: absolute;
    bottom: 40px;
    background: #FFFFFF;
    font-size: 1rem;
    min-width: 340px;
    border: 1px solid #DADBE3;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 12%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.content-box {
    height: 8rem;
}

.poi_box .header-tit,
.content-box .header-tit {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 1.6em;
    height:3.5rem;
    background: linear-gradient(0deg, #DADBE3, #DADBE3);
    font-weight: bold;
}

.content-box .header-tit {
    height: 3rem;
}

.poi_box .header-tit .txt {
    color:#3C55A5;
}
.poi_box .header-tit .close, 
.content-box .header-tit .close {
    width:1.5rem;
    height:100%;
    background:url('/resources/img/icon/close/inactive.png')center no-repeat;
    background-size:contain;
    cursor: pointer;    
}
:is(.poi_box, .area_box, .content-box) ul > li {
    display:flex;
    align-items:center;
    padding:0 1.6em;
    height:3rem;   
    background:#ffffff;
    border-bottom: 1px solid #DADBE3;
}
:is(.poi_box, .area_box, .content-box) ul > li:last-child {
    border-bottom:none;
}
:is(.poi_box, .area_box, .content-box) ul > li > span {
    font-size: .8rem;
    color:#6C6B71;
}
:is(.poi_box, .area_box, .content-box) ul > li > span > SUP {
    font-size: .5em;
}
:is(.poi_box, .area_box, .content-box) ul > li > span.tit {
    padding-right:8px;
}

.content-box {
    z-index: 999;
    position: absolute;
    top: 37%;
    left: 45%;
    color: var(--text-color);
    background-color: var(--background2-color);
}

.btn_expand_collapse {
    position: absolute;
    width: 40px;
    top: 50%;
    box-shadow: -1px 0 6px rgb(0 0 0 / 20%);
    cursor: pointer;
    z-index: 100;
}

#collapse_button {
    right: 0;
    border-radius: 48px 0 0 48px;
}

#expand_button {
    left: 100%;
    transform: scaleX(-1);
    border-radius: 48px 0 0 48px;
    background: rgba(255,255,255,.7);
}

